img {
  max-height: 100vh;
}
@media only screen and (min-width: 900px) {
  .OuterPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-image: url("./assets/blurred-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 900px) {
  .OuterPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 170vh;
    background-image: url("./assets/mobile-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}
.InnerPageContainer {
  position: absolute;
}
.MintTitle {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 15px;
}
.MintParagraph {
  color: white;
  max-width: 550px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}
.InnerPageContainer__text {
  margin-bottom: 100px;
}

.InnerPageContainer {
  max-width: 550px;
  width: 100%;
  margin: auto;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}
.connect-button:hover {
  opacity: 0.8;
}
.connect-button {
  height: 40px;
  width: 250px;
  font-size: 1rem;
  background: linear-gradient(#edb607, #ed9507);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
